<div class="form-group">
    <label class="col-sm-5 control-label" for="inlineFormCustomSelect">Year</label>
    <div class="col-sm-7">
        <select name="projectYear" class="form-control" id="inlineFormCustomSelect">
            <option selected="selected" value="">Choose Year</option>
            {{#each year}}
                <option value="{{this.ProjectYear}}">{{this.ProjectYear}}</option> 
            {{/each}}
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-5 control-label">Project Number</label>
    <div class="col-sm-7">
        <input type="text" name="projectNumber" class="form-control" maxlength="10">
        {{!-- <small class="text-muted">
            Must be 8-20 characters long.
        </small> --}}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-5 control-label">Product Number</label>
    <div class="col-sm-7">
        <input type="text" name="productNumber" class="form-control" maxlength="5">
        {{!-- <small class="text-muted">
            Must be 8-20 characters long.
        </small> --}}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-5 control-label">Assortment Number</label>
    <div class="col-sm-7">
        <input type="text" name="assortmentNumber" class="form-control" maxlength="5">
        {{!-- <small class="text-muted">
            Must be 8-20 characters long.
        </small> --}}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-5 control-label" for="inlineFormCustomSelect">Category</label>
    <div class="col-sm-7">
        <select name="category" class="form-control" id="inlineFormCustomSelect">
            <option value=""></option>
            {{#each category}}
            <option value="{{this.Category}}">{{this.Category}}</option>
            {{/each}}
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-5 control-label" for="inlineFormCustomSelect">Team</label>
    <div class="col-sm-7">
        <select name="team" class="form-control" id="inlineFormCustomSelect">
            <option value=""></option>
            {{#each team}}
            <option value="{{this.Team}}">{{this.Team}}</option>
            {{/each}}
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-5 control-label" for="inlineFormCustomSelect">Source</label>
    <div class="col-sm-7">
        <select name="source" class="form-control" id="inlineSourceCustomSelect">
            <option value=""></option>
            {{#each source}}
            <option value="{{this.sourceId}}">{{this.sourceDescription}}</option>
            {{/each}}
        </select>
    </div>
</div>
<div class="form-group">
    <label for="amount" class="col-sm-5 control-label">Project Description</label>
    <div class="col-sm-7">
        <input type="text" name="projectDescription" class="form-control">
    </div>
</div>
<div class="form-group">
    <label for="amount" class="col-sm-5 control-label">Product Description</label>
    <div class="col-sm-7">
        <input type="text" name="productDescription" class="form-control">
    </div>
</div>
<div class="form-check">
    <label class="form-check-label col-sm-5">
        <input class="form-check-input" name="extendedsearch" type="checkbox" id="inlineCheckbox1" value="true"> Extended Search
    </label>
    <label class="form-check-label col-sm-5">
        <input class="form-check-input" name="includedrops" type="checkbox" id="inlineCheckbox2" value="true">  Include Drops
    </label>
</div>